<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.980925692233-hf8pnpigstrniqtenji39p2p37ishhdu</string>
            </array>
        </dict>
    </array>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Aplikacja potrzebuje dostępu do danych zdrowotnych, aby zapisywać informacje o Twojej aktywności fizycznej.</string>
    <key>NSHealthShareUsageDescription</key>
    <string>Aplikacja potrzebuje dostępu do danych zdrowotnych, aby wyświetlać Twoje postępy w aktywności fizycznej.</string>
</dict>
</plist>
